$primary-color: #26baee; // #26baee - #c7004c

$secondary-color: #9fe8fa; // #9fe8fa - #ffaaaa

$in-range-background-color: #c9f1fb; // #c9f1fb - #ffd2d2

$radius: 0.25rem;

$text-color: #495057;

$hover-color: #000;

$background-color: #fff;

$border-color: #ced4da;

$z-index: 1000;

$disabled-color: lightgray;

$icon-background-color: #e9ecef;

$overlay-color: transparent;

$main-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.5);

$hover-and-selected-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);

$hover-and-selected-box-shadow: inset 0 4px 9px rgba(0, 0, 0, 0.24);

$day-width-and-height: 2.08rem;

.pdp {
	--primary-color: #{$primary-color}; // #26baee - #c7004c

	--secondary-color: #{$secondary-color}; // #9fe8fa - #ffaaaa

	--in-range-background-color: #{$in-range-background-color}; // #c9f1fb - #ffd2d2

	--radius: #{$radius};

	--text-color: #{$text-color};

	--hover-color: #{$hover-color};

	--background-color: #{$background-color};

	--border-color: #{$border-color};

	--z-index: #{$z-index};

	--disabled-color: #{$disabled-color};

	--icon-background-color: #{$icon-background-color};

	--overlay-color: #{$overlay-color};

	--main-box-shadow: #{$main-box-shadow};

	--hover-and-selected-text-shadow: #{$hover-and-selected-text-shadow};

	--hover-and-selected-box-shadow: #{$hover-and-selected-box-shadow};

	--day-width-and-height: #{$day-width-and-height};
}
